body {
  font-family: "Poppins", sans-serif;
}
.mobile1{
  display: none;
}
img {
  width: 100%;
}
.logo {
  width: 120px;
}
.social {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.social li i {
  color: rgb(212, 212, 212);
  margin: 4px;
}

.social li i:hover {
  color: #1e3050;
}

.adress {
  display: flex;
}
.first-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.adress {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  text-align: center;
}
.adress p {
  color: rgb(134, 133, 133);
  font-size: 10px;
}

.adress i {
  margin: 5px 10px;
}

.menu {
  display: flex;
  flex-direction: row;
}
.menu li {
  margin: auto;
  margin-left: 15px;
}

.menu li a {
  color: black;
}

.first-header {
  width: 95%;
  margin: auto;
}

.first-header:last-child {
  margin: 25px auto;
  margin-top: 10px;
}

.container {
  width: 60%;
  margin: auto;

}

/* product */

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
}
.img {
  width: 45%;
  margin: auto;
}
h1 {
  font-weight: 900;
  color: #6fc8c4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  letter-spacing: 1px;
  line-height: 1.4;
}
.text {
  margin: auto;
}
h2 {
  font-size: 27px;
}
/* risks */

.risks {
  margin: 50px auto;
}
.blue {
  color: #015081;
  font-weight: 900;
  font-size: 27px;
}

.blue-color {
  color: #015081;
}
.risk-div {
  display: flex;
  flex-direction: row;
}
.znak {
  width: 220px;
  margin: auto;
}

.risk-text ul li {
  margin: 15px auto;
}
.text ul li {
  margin: 15px auto;
}
h4 {
  font-size: 18px;
}

.risk-text ul li p b,
.complications ul li p b {
  font-weight: 900;
}

/* risk */
.risk-factors h2 {
  color: #015081;
  text-align: center;
  margin: 40px auto;
}
.risk-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: #015081;
  font-weight: 800;
  text-align: center;
  gap: 20px;
}
.risk-content p {
  margin: 0;
}
.risk-content img {
  width: 200px;
}
/* banner */
.banner {
  margin: 60px auto;
  position: relative;
}

.banner div {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 45%;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.banner div p span {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
}
.banner div p {
  margin-bottom: 40px;
}

.banner div a {
  background-color: white;
  color: #045284;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 12px 25px;
  font-size: 30px;
}

/* banner2 */

.banner2 {
  margin: 60px auto;
  position: relative;
}

.banner2 div {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 45%;
  color: #005280;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
}
.banner2 div p:nth-child(1) {
  font-weight: 800;
  font-size: 38px;
  text-transform: uppercase;
}

/* why-OnycoFix */

.why-OnycoFix {
  background: rgb(181, 213, 231);
  background: linear-gradient(
    351deg,
    rgba(181, 213, 231, 1) 0%,
    rgba(0, 82, 128, 1) 100%
  );
  padding: 35px 0;
}

.why-OnycoFix h2 {
  color: white;
}

.why-OnycoFix div {
  width: 50%;
  margin: auto;
  color: white;
}
.why-OnycoFix ul li {
  margin: 10px 0;
}

/* why-OnycoFix2 */

.bullets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
}

.why-OnycoFix2 {
  color: #005280;
  text-align: center;
  margin-bottom: 0;
}
.why-OnycoFix2 h2 span {
  font-size: 20px;
}

.bullets li p {
  margin: 0;
  font-size: 18px;
  font-weight: 900;
  margin-top: -10px;
}
.bullets li img {
  width: 200px;
  margin: auto;
}

/* banner3 */

.banner3 {
  margin: 60px auto;
  position: relative;
}

.banner3 p {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: white;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}
.banner3 p span {
  font-weight: 700;
  font-size: 24px;
}

.ingredient-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ingr {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ingr-p {
  margin-right: 0;
  color: #095683;
  font-size: 20px;
  border-bottom: #095683 2px dashed;
  border-left: #095683 2px dashed;
  display: inline-block;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: 600;
  padding-right: 30px;
}
.bottom {
  margin-bottom: -25px;
}
.left {
  margin-left: -30px;
}
.ingredient-width {
  width: 75%;
  margin: 40px auto;
  padding: 0px;
}

.img-ingr {
  width: 180px;
  /* margin-top: -100px; */
}

.ingr:nth-child(2) {
  margin-left: -50px;
}

.img-ingr2 {
  width: 230px;
}

.ingr2 {
  display: flex;
  align-items: center;
}
.ingredient-grid2 {
  display: grid;
  grid-template-areas: "european echinacea" "european tea";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin-top: -70px;
}

#tea {
  grid-area: tea;
  margin-top: -120px;
}
#european {
  grid-area: european;
  margin-left: -20px;
  margin-top: -50px;
}
#echinacea {
  grid-area: echinacea;
  margin-left: -50px;
}

#echinacea p,
#european p {
  border: none;
  border-right: #095683 2px dashed;
  border-bottom: #095683 2px dashed;
  padding: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  text-align: right;
}

#echinacea p {
  margin-left: -100px;
}

#echinacea .img-ingr2 {
  width: 300px;
}

#european .img-ingr2 {
  width: 330px;
  margin-left: -60px;
}
#european p {
  padding-left: 0px;
  margin-left: -50px;
  margin-top: -25px;
}

/* unique */
.unique {
  margin-left: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.unique li {
  list-style-type: disc;
  margin: 5px 0;
}

/* banner4 */
.banner4 {
  margin: 60px auto;
  position: relative;
}

.banner4 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  color: #005280;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.3;
}
.banner4 p span {
  font-weight: 700;
  font-size: 33px;
}

.how-to-use {
  margin: 60px auto;
  position: relative;
}

.how-to-use div {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 55%;
  color: #005280;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

.how-to-use div ul li {
  margin: 10px 0;
  list-style-type: decimal;
}

.how-to-use div ul li::marker {
  font-size: 20px;
  font-weight: 700;
}
.how-to-use div h4 {
  font-weight: 700;
  font-size: 27px;
  text-transform: uppercase;
  margin-top: 0;
}

/* review */

.review {
  background-color: #ccdee8;
  padding: 35px 0;
}
.review-width {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 20px;
}
.grad {
  background: rgb(70, 167, 174);
  background: linear-gradient(
    45deg,
    rgba(70, 167, 174, 1) 0%,
    rgba(48, 165, 207, 1) 100%
  );
  margin-bottom: 0;
  color: white;
  padding: 0 35px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 430px;
}
.white {
  background-color: white;
  margin-top: 0;
}

.white p:nth-child(1) {
  margin-top: 0;
}

.name {
  text-align: center;
  padding-top: 25px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.flex img {
  width: 25px;
  height: 25px;
}

.flex p {
  margin: 0;
  font-weight: 500;
}

.review-img {
  width: 160px;
  margin: auto;
  margin-bottom: -45px;
}

.content {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}
.white {
  position: sticky;

  z-index: 5;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
}
.white img {
  width: 230px;
  margin-top: -20px;
}

.white p:nth-child(1) {
  text-align: center;
  color: #005280;
  font-weight: 700;
  font-size: 30px;
  padding-top: 15px;
  margin-bottom: 0;
}
.white p sup {
  font-size: 20px;
  line-height: 0;
}
.white p sup sup {
  font-size: 25px;
}

.white p:last-child {
  color: #005280;
  font-weight: 700;
  margin: 0;
  margin-top: -20px;
  padding-bottom: 15px;
}

/* faq */

.q {
  font-weight: 700;
  font-size: 19px;
  margin: 7px 0;
  padding: 15px;
}

.a {
  display: none;
  margin: 0;
  padding: 15px;
  padding-top: 0;
  margin-top: -5px;
}
.faq-content {
  border: #005280 1px solid;
  margin: 20px auto;
  border-radius: 15px;
}
.faq-div {
  padding: 25px;
  color: #005280;
}

.faq {
  background-color: #ccdee8;
  margin: 0;
  padding: 25px 0;
}

/* commentrs */
.comm-flex {
  display: flex;
  flex-direction: row;
}
.ava {
  width: 100px;
}
.comm-content p:nth-child(1) {
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
  font-weight: 700;
}

.comm-content {
  margin: auto 0;
}
.comm p {
  margin: 0;
}

/* order */

.order {
  display: grid;
  grid-template-columns: 700px 1fr;
  gap: 50px;
}

.sw {
  /* width: 70%; */
  margin: auto;
  margin-bottom: 25px;
}

/* label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radio-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.free {
  text-align: center;
  border: 2px dashed #005280;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  padding: 7px 0;
}

button {
  background-color: #ee5208;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 15px;
}

.sw-div {
  margin: auto 0;
}

.order-div h3 {
  font-size: 23px;
  text-align: center;
  color: #005280;
  font-weight: 800;
  margin-bottom: 0;
}

.order-radio {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.radio {
  padding: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.yellow {
  background-color: #f5c14f;
}

label p {
  margin-left: 5px;
}

label p span {
  color: #f26522;
  font-weight: 700;
}

input[type="radio"] {
  accent-color: red;
}
.order {
  margin: 50px auto;
}
.order-stars {
  display: flex;
  align-items: center;
}

.order-stars img {
  width: 100px;
}

.order-stars p {
  margin: 0;
}

.order-bullets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px auto;
}
.order-content {
  margin: auto;
  text-align: center;
}
.order-content img {
  width: 80px;
}

.order-content p {
  margin: 0;
  font-size: 14px;
}
form{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}   
form input, select{
  margin: 5px 0;
  padding: 5px;
}
 
/* footer */
footer div.links {
  text-align: center;
  margin: 15px;
}

footer a {
  margin: 15px;
  text-align: center;
  text-decoration: none;
  color: black;
}

footer p {
  text-align: center;
}

footer p.disclaimer {
  width: 70%;
  margin: 10px auto;
  letter-spacing: 0;
  line-height: 1;
  font-size: 14px;
}

@media screen and (max-width: 2000px) {
  .container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1700px) {
  .review-width {
    width: 90%;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .img {
    width: 50%;
    margin: auto;
  }
  .grad {
    padding: 0 20px;
    min-height: 445px;
  }
  .order {
    display: grid;
    grid-template-columns: 650px 1fr;
  }

  .banner,
  .banner3,
  .banner4,
  .how-to-use {
    width: 100%;
  }

  .why-OnycoFix div {
    width: 80%;
  }
  .bullets {
    width: 75%;
  }
  .review-width {
    width: 90%;
    gap: 30px;
  }
  .grad {
    padding: 0 10px;
    min-height: 473px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .banner,
  .banner3,
  .banner4,
  .how-to-use {
    width: 100%;
  }
  .review-width {
    padding: 20px 0;
  }
  .grad {
    min-height: 502px;
  }
  .order {
    display: grid;
    grid-template-columns: 600px 1fr;
    gap: 15px;
  }
  .risk-content img {
    width: 150px;
  }
}

@media screen and (max-width: 994px) {
  .img {
    width: 75%;
    margin: auto;
  }
  .znak {
    display: none;
  }
  .banner div {
    font-size: 20px;
  }

  .banner div a {
    font-size: 25px;
  }
  .banner div p span {
    font-size: 26px;
  }
  .banner2 div {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-size: 16px;
  }

  .banner2 div p:nth-child(1) {
    font-size: 30px;
  }
  .why-OnycoFix div {
    width: 90%;
  }
  .bullets {
    width: 95%;
  }

  .banner3 p {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 54%;
  }
  .ingredient-width {
    width: 90%;
    margin: 20px auto;
    padding: 0px;
  }
  .ingr-p {
    font-size: 16px;
    padding-right: 0px;
  }

  .banner4 p span {
    font-weight: 700;
    font-size: 28px;
  }

  .banner4 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: #005280;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
  }
  .how-to-use div {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 60%;
    color: #005280;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }

  .how-to-use div h4 {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
  }
  .how-to-use div ul li {
    margin: 3px 0;
    list-style-type: decimal;
  }
  .review-width {
    display: block;
  }
  .grad {
    min-height: auto;
  }
  .content {
    font-size: 14px;
    width: 80%;
    margin: auto;
  }
  .review-div {
    margin-bottom: 50px;
  }

  .order {
    display: block;
  }
  .payment-methods {
    width: 50%;
    margin: auto;
    display: block;
  }
  .risk-content img {
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .risk-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .bullets li img {
    width: 120px;
    margin: auto;
  }
  .ingr:nth-child(2) {
    margin-left: -5px;
  }
  .banner4 p {
    font-size: 14px;
  }
  .banner4 p span {
    font-size: 20px;
  }
  .how-to-use div {
    width: 72%;
    margin: auto;
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    padding: 20px;
  }

  .how-to-use div h4 {
    text-align: center;
  }

  .desktop {
    display: none;
  }

  .banner div p {
    margin-bottom: 30px;
  }
  .banner div {
    font-size: 14px;
  }

  .banner div a {
    font-size: 16px;
  }

  .review-width {
    width: 70%;
  }
  .content {
    width: 90%;
  }
  .faq h2 {
    margin-bottom: 0;
  }
  footer p.disclaimer {
    width: 90%;
  }

  .product {
    display: block;
  }
  .first-header:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo {
    width: 120px;
    display: block;
    margin: 10px auto;
  }
  .img {
    width: 40%;
    margin: auto;
  }
  .blue {
    color: #015081;
    font-weight: 900;
    font-size: 22px;
  }
  .banner div p {
    margin-bottom: 20px;
  }
  .banner div p span {
    font-size: 22px;
  }

  .name {
    text-align: center;
    padding-top: 25px;
    font-size: 24px;
  }
  .comm-content p:nth-child(1) {
    font-size: 18px;
  }
  .img-ingr {
    width: 150px;
  }

  #european .img-ingr2 {
    width: 250px;
    margin-left: -40px;
  }
  #echinacea p {
    margin-left: -60px;
  }

  #echinacea .img-ingr2 {
    width: 200px;
  }

  #tea {
    margin-top: -80px;
  }
  .review-img {
    width: 120px;
    margin: auto;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 414px) {
  .menu li a {
    font-size: 12px;
  }
  .menu li {
    margin: auto;
    margin-left: 5px;
  }
  h1 { 
    font-size: 27px;
    text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;

}
p{
  font-size: 14px;
  line-height: 1.2;
}
.blue { 
  font-size: 18px;
}
.risk-factors h2{
  margin: 20px auto;
}
.risk-grid { 
  gap: 5px;
}
.desktop1{
  display: none;
}
.mobile1{
  display: block;
}
.mob{
  margin: 25px auto;
}
.banner2 div {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 60%;
  font-size: 12px !important;
}
.banner2 div p:nth-child(1) {
  font-size: 20px;
}
.banner2{
  width: 100%;
}
.bullets li p {
  margin: 0;
  font-size: 14px;
}
.bullets li img {
  width: 90px;

}
.bullets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.banner3 p { 
  font-size: 12px;
}
.banner3 p span { 
  font-size: 18px;
}
.banner4 p span {
  font-size: 18px;
}

.banner4 p {
  font-size: 12px;
}

.review-width {
  width: 90%;
}

.content {
  font-size: 12px;
}
.q { 
  font-size: 16px;
  margin: 0;
}
.order-content p { 
  font-size: 12px;
  padding: 10px 7px;
}
.order-bullets{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.order-bullets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer div.links {
  text-align: center;
  display: flex;
  margin: 10px;
  flex-direction: column;
}
footer a {
  margin: 5px;
  font-size: 12px;
}
.risk-content img {
  width: 100px;
}
footer p.disclaimer {
  width: 90%; 
  font-size: 10px;
}
.faq-div{
  width: 80%;
}
.white img {
    width: 150px; 
    margin-top: -20px;
    padding: 10px;
}
}
