body {
  font-family: "Merriweather";
}

img {
  width: 100%;
}
.logo {
  width: 120px;
}
.social {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.social li i {
  color: rgb(212, 212, 212);
  margin: 4px;
}

.social li i:hover {
  color: #1e3050;
}

.adress {
  display: flex;
}
.first-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.adress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adress p {
  color: rgb(134, 133, 133);
  font-size: 10px;
}

.adress i {
  margin: 5px 10px;
}

.menu {
  display: flex;
  flex-direction: row;
}
.menu li {
  margin: auto;
  margin-left: 15px;
}
.first-header {
  width: 95%;
  margin: auto;
}

.first-header:last-child {
  margin: 25px auto;
  margin-top: 10px;
}

.container {
  width: 60%;
  margin: auto;
}

/* product */

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
}
.img {
  width: 45%;
  margin: auto;
}
h1 {
  font-weight: 900;
  color: #6fc8c4;
}

h1,h2,h3,h4,h5,h6,p,ul,li,a{
    letter-spacing: 1px;
    line-height: 1.4;
}
.text{
    margin: auto;
}

/* risks */

.risks{
    margin: 50px 0;
}
.red{
    color: red;
    font-weight: 800;
}
.risk-div{
    display: flex;
    flex-direction: row;
}
.znak{
    width: 220px;
    margin: auto;
}

.risk-text ul li{
    margin: 15px auto;
}
.text ul li{
    margin: 15px auto;

}
h4{
    font-size: 18px;
}