body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}
.logo {
  width: 120px;
}
.social {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.social li i {
  color: rgb(212, 212, 212);
  margin: 4px;
}

.social li i:hover {
  color: #1e3050;
}

.adress {
  display: flex;
}
.first-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.adress {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  text-align: center;
}
.adress p {
  color: rgb(134, 133, 133);
  font-size: 10px;
}

.adress i {
  margin: 5px 10px;
}

.menu {
  display: flex;
  flex-direction: row;
}
.menu li {
  margin: auto;
  margin-left: 15px;
}
.first-header {
  width: 95%;
  margin: auto;
}

.first-header:last-child {
  margin: 25px auto;
  margin-top: 10px;
}

.container {
  width: 60%;
  margin: auto;
}

/* product */

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
}
.img {
  width: 45%;
  margin: auto;
}
h1 {
  font-weight: 900;
  color: #6fc8c4;
}

h1,h2,h3,h4,h5,h6,p,ul,li,a{
    letter-spacing: 1px;
    line-height: 1.4;
}
.text{
    margin: auto;
}
h2{
  font-size: 27px;
}
/* risks */

.risks{
    margin: 50px 0;
}
.blue{
    color: #015081;
    font-weight: 900;
    font-size: 27px;
}
.risk-div{
    display: flex;
    flex-direction: row;
}
.znak{
    width: 220px;
    margin: auto;
}

.risk-text ul li{
    margin: 15px auto;
}
.text ul li{
    margin: 15px auto;

}
h4{
    font-size: 18px;
}

.risk-text ul li p b,
.complications ul li p b{
  font-weight: 900;
}


/* risk */
.risk-factors h2{
  color: #015081;
  text-align: center;
  margin: 40px auto;
}
.risk-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: #015081;
  font-weight: 800;
  text-align: center;
  gap: 20px;

}
.risk-content p{
  margin: 0;
}
.risk-content img{
  width: 200px;
}
/* banner */
.banner{
  margin: 60px auto;
  position: relative;
}

.banner div{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 45%;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.banner div p span{
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;

}  
.banner div p{
  margin-bottom: 40px;

}

.banner div a{
  background-color: white;
  color: #045284;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 12px 25px;
  font-size: 30px;
 
}


/* banner2 */

.banner2{
  margin: 60px auto;
  position: relative;
}

.banner2 div{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 45%;
  color: #005280;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
}
.banner2 div p:nth-child(1){
  font-weight: 800;
  font-size: 38px;
  text-transform: uppercase;
}


/* why-OnycoFix */

.why-OnycoFix{
  background: rgb(181,213,231);
  background: linear-gradient(351deg, rgba(181,213,231,1) 0%, rgba(0,82,128,1) 100%);
  padding: 35px 0;
}

.why-OnycoFix h2{
  color: white;
}

.why-OnycoFix div{
  width: 50%;
  margin: auto;
  color: white;
}
.why-OnycoFix ul li{
  margin: 10px 0;
}

/* why-OnycoFix2 */

.bullets{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
}

.why-OnycoFix2{
  color: #005280;
  text-align: center; 
  margin-bottom: 0;
}
.why-OnycoFix2 h2 span{
  font-size: 20px;
}

.bullets li p{
  margin: 0;
  font-size: 18px;
  font-weight: 900;
  margin-top: -10px;
}
.bullets li img{
  width: 200px;
  margin: auto;
}



/* banner3 */

.banner3{
  margin: 60px auto;
  position: relative;
}

.banner3 p{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 45%;
  color: white;
  font-size: 22px;
  font-weight: 400; 
  line-height: 1.3;
}
.banner3 p span{
  font-weight: 700;
  font-size: 24px;
}
